body{
  font-family: 'Nunito', serif;
}

#main {
  height: 102vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url(../img/BG2V.png);
  background-color: mediumpurple;
}

#second {
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /* background-image: url(../img/1.jpg); */
  background-color:yellowgreen;
}

#frase{
  height: 35vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 3em;
  text-align: center;
  color: white;
  text-shadow: 0 0 10px black;
}

#frase p{
  padding: 2em;
}

.navbar, .navbar-menu, .navbar-brand{
  background-color: #0000004;
}

.navbar ul li a{
  color: white;
}

.navbar ul li a:hover{
  color: white;
  text-shadow: 0 0 3px #ffffff80;
}

.navbar-burger{
  background-color: #00000045;
  color: white;
}
.navbar-burger:hover{
  background-color: #00000050;
  color: white;
}




